body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    background: #55bfd0;
    color: #f4f4f4;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.controls {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    font-weight: bold;
}

.map-container {
    position: relative;
    text-align: center;
}

#forecast-map {
    max-width: 300px;
    max-height: 290px;
    height: auto;
}

#forecast-map img {
    max-height: 100%;
    max-width: 100%;
}

.timeline-controls {
    margin-top: 10px;
    display: inline-block;/* Row display */
}

.timestep-container {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    background: #55bfd0;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005bb5;
}
 
.time-step {
    width: 20px; 
    height: 20px;
    display: inline-block; /* Row display */
    margin: 5px;
    padding: 8px 15px;
    background: #55bfd0;
    color: white;
    border: none;
    cursor: pointer;
}


/* Navigation bar */

/* Add a background color to the top navigation */
.topnav {
    background-color: #55bfd0;
    overflow: hidden;
  }

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f4f4f4;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #005bb5;
color: #f4f4f4;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #005bb5;
color: #f4f4f4;
}

/* */