body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    background: #55bfd0;
    color: #f4f4f4;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.controls {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    font-weight: bold;
}

.map-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.map {
    max-width: 600px;
    /* max-height: 290px; */
    height: auto;
}

.map img {
    max-height: 100%;
    max-width: 100%;
}

/* Timeline controls */
.timeline-controls {
    /* margin-top: 10px; */
    display: flex;
    gap: 10px;
    width: 100%;
}

#toggle-play {
    padding: 8px 15px;
    font-size: 16px;
    width: 80px;
    text-align: center;
    background: #55bfd0;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
}

#toggle-play:hover {
    background: #005bb5;
}

#time-slider {
    flex-grow: 1;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    /* height: 25px; /* Specified height */
    background: #55bfd0; /* Grey background */
    outline: none; /* Remove outline */
}

/* Style the slider handle (mozilla) */
.slider::-moz-range-thumb {
    width: 25px;
    height: 100%;
    background: #005bb5; /* Background color */
    cursor: pointer; /* Cursor on hover */
    border: none; /* Remove implicit border */
    border-radius: 0; /* Remove rounded edges */
}

/* Style the slider handle (other browsers) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 100%;
    background: #005bb5;
    cursor: pointer;
    border: none;
    border-radius: 0;
}
/* */


/* Navigation bar */
/* Add a background color to the top navigation */
.topnav {
    background-color: #55bfd0;
    overflow: hidden;
  }

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f4f4f4;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #005bb5;
color: #f4f4f4;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #005bb5;
color: #f4f4f4;
}
/* */

/* Evaluation plots */

.eval-container {
    /* position: relative;
    text-align: center;
    max-width: 600px;
    max-height: auto; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.eval-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* */